<!DOCTYPE html>

<!-- langauge of the website -->
<html lang="en">

<!-- The name you see in the tab of browser -->
<title>Demo</title>

<!-- character encoding for the HTML document -->
<!-- What characters we can see in the website - dollar sign bracket etc. -->
<meta charset="UTF-8">


<!-- The width=device-width sets the width of the page to follow the screen-width of the device (which will vary depending 
on the device).
 The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser.
 Again both standard for websites
 We would look to make changes to these values to handle this working in a mobile app
-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- We are going to write styles - how we add space between buttons, colors annimation etc. 
 We dont want to write every line ourselfs, so we are using styles that other people have written and we import them.
 Think of it as a copy paste but you dont see the paste.
-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Where we are going to put the majority of our application -->

<body>
    <h1>HELLO</h1>
</body>

</html>